body {
	background-color: lightgreen;
	margin: 30px
}

p {
  font-weight: bold;
}

.mapContainer {
/*  width: 600px;
  height: 600px;*/
    padding-right: 20em; 
    padding-left: 20em;
    margin-left: 25em;
    width: 30%;
    position: fixed;
  /*background-color: lightblue;*/

}

ul {
  list-style: none;
}

.listOfPosts {
  	background-color: plum;
  	padding: 1em; 
  	margin: 20px;
  	border-radius: 10px;
  	border: solid 3px black;
  	width: 600px;
    height: 60%;
    /*position: absolute;*/
}

h1 {
	font-size: 30px;
	text-align: center;
}

img {
  border: solid 1px black;
  width: 40%;
    height: 40%;
}

.edit {
    background-color: mediumpurple;
    padding: 1em; 
    margin: 20px;
    border-radius: 10px;
    border: solid 3px black;
    width: 600px;
    height: 200px;
    top: 35%;
    /*left: 20%;*/
    position: fixed;
}


Link {
  text-decoration: none;
}