body {
	background-color: lightgreen;
	margin: 30px
}


.mapContainer {
/*  width: 600px;
  height: 600px;*/
/*  padding-top: 20em; 
*/  padding-left: 20em;
  /*background-color: lightblue;*/

}


.listOfPosts {
	background-color: plum;
	padding: 1em; 
  	margin: 20px;
  	border-radius: 10px;
  	border: solid 4px black;
  	width: 80%;
    height: 60%
}

strong {
	font-size: 22px;
	margin: -10px;
}

