body {
	background-color: lightgreen;
	margin: 30px
}


.mapContainer {
/*  width: 600px;
  height: 600px;*/
  padding-right: 20em; 
  padding-left: 20em;
  margin-left: 20em;
    width: 30%;
  /*background-color: lightblue;*/

}


.listOfPosts {
	background-color: plum;
	padding: 1em; 
  	margin: 20px;
  	border-radius: 10px;
  	border: solid 4px black;
  	width: 600px;
    height: 60%;
}

strong {
	font-size: 22px;
	margin: -10px;
}

img {
  border: solid 1px black;
  width: 40%;
    height: 40%;
}

Link {
  text-decoration: none;
}